name: Deploy Docker Image CI

on:
  workflow_dispatch

#env:
  #DOCKER_VERSION: latest

jobs:

  deploy:
    environment:
     name: production
    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v3
    - name: Deploy the Docker image
      run: |
          cd /home/master/finalproject/actions-runner/_work/notes-app-cicd/notes-app-cicd
          pwd
          kubectl get pods -A
          kubectl apply -f deployment.yaml && kubectl apply -f service.yaml
          kubectl get pods -A
